@media screen and (max-width: 992px) {
    .admin-profile div h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    .search-box {
        background-color: transparent;
        box-shadow: transparent 0 0 0;
        display: flex;
        align-items: flex-start;
        height: 80vh;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 5rem;
    }

    .search-box input {
        background-color: rgba(149, 157, 165, 0.2);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .search-box button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: center;
        height: 47px;
    }

    .search-icon-nav:hover~.search-box,
    .search-box:focus,
    .search-box:hover {
        visibility: visible;
        opacity: 1;
    }


}

@media screen and (max-height: 575px) {
    .parent-header {
        padding-right: 4.5rem;
    }
}

@media screen and (max-width: 433px) {
    .admin-profile div h1 {
        font-size: .7rem;
    }

    .search-box {
        width: 290px;
    }

    .search-box input,
    .search-box button {
        font-size: .9rem;
    }

    .search-box button {
        height: 42px;
    }

    .admin-profile div h3 {
        font-size: .7rem;
    }
}